/*#results*/
body {background-color: #F4F4F4;}
.div { width: 50%; background: white; margin:0 auto; border: double 5px #B2C4E2; 
float: center; text-align: center; font-family: impact;}
h1 {font-size: 50px; font-family: impact; text-align: center }

